@import "../../../../../../styles/styles.scss";

.profile-avatar {
    background-image: url("/profile_photo.png");
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    background-repeat: no-repeat;
}

.profile-name {
    font-family: $font-poppins;
    font-size: 14px;
    font-weight: 500;
}

.profile-email {
    font-family: $font-poppins;
    color: #90A0B7;
    font-size: 11px;
    margin-top: 0.3em;
    font-weight: 500;
}
