@import "../../../../../../styles/styles.scss";

.task-icon {
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 2rem;
}

.task-assignee {
    color: #707683;
    font-size: 13px;
    font-weight: 400;
    font-family: $font-poppins;
}
