@import "../../../../../../styles/styles.scss";

.calendar-title {
    font-family: $font-poppins;
    font-size: 15px;
    font-weight: 500;
}

.calendar-items {
    border-bottom: 1px solid #EBEFF2;
}
