@import "../../../../../../styles/styles.scss";

.tasks-chart-title {
    color: #192A3E;
    font-weight: 500;
    font-size: 15px;
    font-family: $font-poppins;
}

.tasks-chart-box {
    background-color: white;
    box-shadow: 0 0 15px #F0F1F2;
    border-radius: 5px;
}

.tasks-chart-header {
    border-bottom: 1px solid #EBEFF2;
}

.tasks-chart {
    background-repeat: no-repeat;
    height: 15rem;
}
