@import "../../../../../styles/styles.scss";

td:nth-child(2) {
    font-family: $font-poppins;
    color: #323c47;
    font-size: 15px;
    font-weight: 500;
}

td {
    font-family: $font-poppins;
    color: #707683;
    font-size: 13px;
    font-weight: 400;
    padding: 1.5em;
}

tr {
    border: 1px solid #ebeff2;
}
