@import "../../../../../../styles/styles.scss";

.day-text {
    font-family: $font-poppins;
    color: #99A6B7;
    font-size: 13px;
    font-weight: 500;
}

.date-text {
    font-family: $font-poppins;
    font-size: 12px;
    font-weight: 400;
    color: #4C5862;
}
