@import "../../../../styles/styles.scss";

table {
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 20px #F0F1F2;
    border-radius: 7px;
    border-collapse: collapse;
    width: 100%;
}

thead {
    color: #99A6B7;
    font-family: $font-poppins;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

th {
    padding: 1.5em;
}
