@import "../../../../../../styles/styles.scss";

.task-item {
    box-shadow: 0 0 20px #F0F1F2;
}

.task-title {
    font-size: 15px;
    font-weight: 500;
    font-family: $font-poppins;
    color: #323C47;
}

.task-type {
    font-size: 12px;
    font-weight: 500;
    font-family: $font-poppins;
    color: #90A0B7;
}

.due-date-title {
    font-size: 13px;
    font-weight: 400;
    font-family: $font-poppins;
    color: #A5ABB0;
}

.due-date {
    font-size: 13px;
    font-weight: 400;
    font-family: $font-poppins;
    color: #4C5862;
}
