@import "../../../../../../styles/styles.scss";

.progress-bar-text {
    color: #334D6E;
    font-family: $font-poppins;
    font-size: 13px;
    font-weight: 500;
}

.progress-bar {
  background-image: url("/rectangle.png");
  height: 0.2em;
}
