@import "../../../../../../styles/styles.scss";

.search-bar {
    top: 0;
    overflow-x: hidden;
    background-color: white;
    width: 100%;
    padding: 1.2rem;
    box-shadow: 0 0 15px #F0F1F2;
}

.search-icon {
    background-image: url("/search.png");
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
}

.search-input {
    border: none;
    padding: 0.7rem;
    width: 50rem;
}

.search-input::placeholder {
    color: #90A0B7;
    font-family: $font-poppins;
    font-size: 12px;
    font-weight: 400;
}
