@import "../../../../../../styles/styles.scss";

.side-bar-item-text {
    font-family: $font-poppins;
    font-size: 13px;
    color: #334D6E;
    font-weight: 500;
}

.side-bar-icon {
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}
