@import "../../../../../../styles/styles.scss";

.side-bar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0 0 15px #F0F1F2;
    z-index: 3;
}
