@import "../../../../../../styles/styles.scss";

.toggle-icon {
    background-image: url("/toggle.png");
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    background-repeat: no-repeat;
}

.toggle-button {
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 11px;
    color: #90A0B7;
    position: fixed;
    bottom: 0;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
